/*
STYLES START
*/

$color-bg: #ccc;
$color-grey: #999;
$color-white: #fff;
$color-footer: #333;
$color-role: #777;
$color-title: #3c4858;
$color-link: #9c27b0;
$color-hovered: #741685;

body {
  background: $color-bg;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: $color-grey;
}
input,
textarea {
  font-family: sans-serif;
}
h2,
h3 {
  color: $color-title;
  margin: 0;
  font-weight: normal;
}
p {
  margin: 0;
  font-size: 0.875em;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: $color-link;
  &:hover {
    text-decoration: none;
    color: $color-hovered;
  }
}
.btn {
  cursor: pointer;
  border-radius: 3px;
  border: none;
  &:focus {
    outline: none;
  }
}
.menu-item:last-child {
  margin-right: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.row h2,
.row h3 {
  width: 100%;
}
.column-one-three {
  width: 33%;
}
.column-one-two {
  width: 50%;
}
.column-full {
  width: 100%;
}

/*
BG ICONS
*/
$icon-size: 20px;
$dark-icon-size: 18px;
$gallery-nav-size: 30px;

.bg-icon {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
}
.toggle-icon {
  background-image: url("img/menu.png");
  width: 22px;
  height: $icon-size;
}
.download-icon {
  background-image: url("img/download.png");
  width: $icon-size;
  height: $icon-size;
}
.twitter-icon {
  background-image: url("img/twitter.png");
  width: $icon-size;
  height: $icon-size;
}
.facebook-icon {
  background-image: url("img/facebook.png");
  width: $icon-size;
  height: $icon-size;
}
.insta-icon {
  background-image: url("img/instagram.png");
  width: $icon-size;
  height: $icon-size;
}
.gplus-icon {
  background-image: url("img/gplus.png");
  width: $icon-size + 4px;
  height: $icon-size;
}
.dark-twitter-icon {
  background-image: url("img/dark-twitter.png");
  width: $dark-icon-size;
  height: $dark-icon-size;
}
.dark-insta-icon {
  background-image: url("img/dark-instagram.png");
  width: $dark-icon-size;
  height: $dark-icon-size;
}
.dark-facebook-icon {
  background-image: url("img/dark-facebook.png");
  width: $dark-icon-size;
  height: $dark-icon-size;
}
.dark-linkedin-icon {
  background-image: url("img/dark-linkedin.png");
  width: $dark-icon-size;
  height: $dark-icon-size;
}
.dark-gplus-icon {
  background-image: url("img/dark-gplus.png");
  width: $dark-icon-size + 6px;
  height: $dark-icon-size;
}
.dark-youtube-icon {
  background-image: url("img/dark-youtube.png");
  width: $dark-icon-size;
  height: $dark-icon-size;
}
.active .studio-icon {
  background-image: url("img/studio-active.png");
  width: $gallery-nav-size;
  height: $gallery-nav-size;
}
.work-icon {
  background-image: url("img/work.png");
  width: $gallery-nav-size;
  height: $gallery-nav-size;
}
.favorite-icon {
  background-image: url("img/favorite.png");
  width: $gallery-nav-size;
  height: $gallery-nav-size;
}

/*
HEADER
*/
$header-padding-size: 24px;

.mobile-menu {
  display: none;
}

#page-header {
  background-image: url("img/header-bg.png");
  background-position: 50%;
  background-size: cover;
  padding-top: 63px - $header-padding-size;
  padding-bottom: 211px;
}
.header-nav {
  max-width: 1128px + ($header-padding-size * 2);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: $header-padding-size;
  margin: 0 auto;
}
.logo {
  a {
    font-size: 1.125em;
    color: $color-white;
    font-weight: 300;
  }
}

.header-links {
  display: flex;
  align-items: center;
  gap: 24px;
  .menu-item {
    color: $color-white;
    font-size: 0.75em;
    text-transform: uppercase;
    line-height: 1.313em;
    &:hover {
      text-decoration: underline;
    }
  }
  .menu-item.download:before {
    content: url("img/download.png");
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}
.header-content {
  max-width: 1300px - ($header-padding-size * 2);
  padding-left: $header-padding-size;
  padding-right: $header-padding-size;
  margin: 124px - $header-padding-size auto 0;
  color: $color-white;
  &-box {
    max-width: 549px;
  }
  h1.page-title {
    font-size: 3.313em;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .page-slogan {
    font-size: 1.125em;
    line-height: 1.313em;
    margin-bottom: 40px;
  }
  .header-btn {
    background: #f44336;
    box-shadow: 0px 2px 2px rgba(244, 67, 54, 0.14);
    color: $color-white;
    text-transform: uppercase;
    padding: 20px 34px 20px 54px;
    background-image: url("img/play.png");
    background-repeat: no-repeat;
    background-position: 34px center;
    &:hover {
      background-color: #e6382c;
    }
  }
}

/*
PAGE CONTENT
*/
$content-margin-x: 20px;
#page-content {
  max-width: 1380px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  background: $color-white;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 2px 24px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  padding: 95px 0 80px;

  .container {
    max-width: 1133px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1380px) {
  #page-content {
    margin: 0 10px;
  }
}
.intro {
  margin: 0 auto 160px;
  max-width: 723px;
  text-align: center;
  .intro-title {
    margin-bottom: 38px;
    font-size: 2.1em;
  }
  p {
    font-size: 1.07em;
    line-height: 1.45em;
  }
}
.features {
  margin-bottom: 200px;
}
.feature-item {
  text-align: center;
  max-width: 328px;
  box-sizing: border-box;
  padding: 0 20px;
  img {
    margin-bottom: 30px;
  }
  .feature-title {
    font-weight: 500;
    margin-bottom: 18px;
  }
}
.team {
  margin-bottom: 185px;
  text-align: center;
}
.team-title {
  margin-bottom: 86px;
  font-size: 2.1em;
}
.team-item {
  img {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3),
      0px 16px 30px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin-bottom: 32px;
    background-color: #c4c4c4;
  }
  &-title {
    margin-bottom: 7px;
  }
  p {
    margin: 35px 0 30px;
    padding: 0 19px;
  }
}
.team-role {
  color: $color-role;
  font-size: 0.813em;
  font-weight: bold;
}
.team-social {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.contact-form {
  max-width: 753px;
  margin: 0 auto;
  text-align: center;
  &-title {
    font-size: 2.1em;
    margin-bottom: 38px;
  }
  p {
    font-size: 1.125em;
    margin-bottom: 36px;
  }
}
#forma {
  width: 100%;

  .textarea {
    position: relative;
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.625em;
    color: $color-link;
  }
  input,
  textarea {
    width: 100%;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $color-grey;
    font-size: 0.875em;
    padding: 14px 0 7px;
    margin-bottom: 40px;
  }
  input + label,
  textarea + label {
    display: none;
  }
  input:focus + label,
  textarea:focus + label {
    display: inline;
  }

  input:not([value=""]) + label,
  textarea:not([value=""]) + label {
    display: inline;
  }

  textarea {
    min-height: 92px;
    resize: none;
  }

  input:focus,
  textarea:focus {
    outline: none;
    animation: focusBorder 1.5s;
  }

  @keyframes focusBorder {
    0% {
      border-bottom: 1px solid $color-grey;
    }
    100% {
      border-bottom: 1px solid $color-link;
    }
  }

  .submit-btn {
    background: $color-link;
    padding: 13px 30px;
    color: $color-white;
    &:hover {
      background: $color-hovered;
    }
  }
}
.form-group {
  position: relative;
  flex: 1;
  &.left-input {
    margin-right: 15px;
  }
  &.right-input {
    margin-left: 15px;
  }
}

/*
FOOTER
*/
$footer-padding-x: 40px;
#page-footer {
  max-width: 1122px + ($footer-padding-x * 2);
  margin: 0 auto;
  min-height: 65px;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: $footer-padding-x;
    padding-left: $footer-padding-x;
  }
}
.footer-links {
  display: flex;
  gap: 33px;
  .menu-item {
    color: $color-footer;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 500;
  }
}
.copyright {
  font-size: 0.87em;
  color: $color-footer;
}

/*
TABLET
*/

@media screen and (max-width: 768px) {
  #page-header {
    padding-top: 0;
    padding-bottom: 121px;
  }
  .header-nav {
    background: rgba(0, 0, 0, 0.4);
  }
  .header-content-box {
    max-width: 100%;
  }
  .column-one-three {
    width: 100%;
    max-width: 100%;
  }
  #page-content {
    .container {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  .feature-item {
    margin-bottom: 110px;
    p {
      max-width: 328px;
      margin: 0 auto;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .team-item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    p {
      padding: 0;
    }
  }
  .form-group {
    max-width: 100%;
    min-width: 100%;
    &.left-input {
      margin-right: 0px;
    }
    &.right-input {
      margin-left: 0px;
    }
  }
  #page-footer {
    min-height: 85px;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
  .copyright {
    width: 100%;
    text-align: center;
  }
}

/* 
MOBILE
*/
@media screen and (max-width: 578px) {
  .mobile-menu {
    display: block;
  }
  .header-links {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  #page-footer {
    min-height: 80px;
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }
    .menu-item {
      margin-right: 25px;
    }
  }
  .footer-links {
    display: block;
  }
}

/*============================================================
SIGN UP PAGE
============================================================*/
.sign-up {
  background-image: url("img/signup-bg.png");
  background-size: cover;
  #page-header {
    background-image: none;
    padding-bottom: 110px - $header-padding-size;
  }
  #page-footer,
  #page-footer a,
  .copyright {
    color: $color-white;
  }
}
.white-block {
  max-width: 365px;
  background: $color-white;
  border-radius: 3px;
  margin: 0 auto 70px;
  padding: 0 20px 30px;
  box-sizing: border-box;
  .slogan {
    text-align: center;
    font-size: 0.875em;
    margin: -20px 0 30px;
    color: #000;
  }
}
.purple-block {
  max-width: 324px;
  background: linear-gradient(90deg, $color-link 0%, $color-hovered 100%);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5), 0px 4px 25px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  margin: 0 auto;
  padding: 30px 0;
  position: relative;
  top: -50px;
  h1 {
    font-size: 1.25em;
    font-weight: normal;
    text-align: center;
    color: $color-white;
    margin-bottom: 30px;
  }
  .signup-social {
    display: flex;
    justify-content: center;
    gap: 35px;
  }
}
#sign-up {
  font-size: 0.875em;
  text-align: center;
  .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 46px;
  }
  input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid $color-grey;
    color: $color-grey;
    width: 269px;
    padding: 10px 0;
    &:focus {
      outline: none;
      border-bottom: 1px solid $color-link;
    }
  }
  .signup-btn {
    background-color: transparent;
    color: $color-link;
    &:hover {
      color: $color-hovered;
    }
  }
}
@media screen and (max-width: 768px) {
  .white-block {
    max-width: 353px;
  }
  .purple-block {
    max-width: 314px;
  }
}
@media screen and (max-width: 354px) {
  .white-block {
    margin-right: 13px;
    margin-left: 13px;
  }
}

/*============================================================
PROFILE PAGE
============================================================*/
.profile {
  #page-header {
    background-image: url("img/profile-bg.jpg");
  }
}
.member-block {
  max-width: 604px;
  margin: 0 auto -100px;
  position: relative;
  top: -(95px + 80px);
  text-align: center;
  .member-avatar {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3),
      0px 16px 30px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin-bottom: 20px;
    background-color: #c4c4c4;
  }
  .member-name {
    color: $color-title;
    font-size: 1.563em;
    margin-bottom: 15px;
  }
  .member-role {
    color: $color-title;
    font-size: 0.875em;
    margin-bottom: 45px;
    text-transform: uppercase;
  }
  .member-info {
    font-size: 0.875em;
    line-height: 1.5em;
  }
}
.gallery-block {
  max-width: 555px;
  margin: 0 auto;
}
.gallery-nav {
  margin: 0 0 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 6px;
  li {
    list-style-type: none;
    a {
      display: block;
      width: 100px;
      padding: 25px 0 14px;
      color: $color-title;
      text-transform: uppercase;
      font-size: 0.75em;

      border-radius: 4px;
      &:hover {
        background-color: rgba(200, 200, 200, 0.2);
      }
    }
    &.active a {
      background-color: $color-link;
      color: $color-white;
      box-shadow: 0px 4px 20px rgba(156, 39, 176, 0.45);
    }
    .bg-icon {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
.gallery-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  .gallery-item {
    display: block;
    margin-bottom: 30px;
  }
  img {
    max-width: 262px;
    background-color: #c4c4c4;
    border-radius: 6px;
  }
}
/*
CHEAT STYLE FOR GALLERY. GIVE MASONRY LOOK.
*/
.pseudo-masonry-parent {
  margin-bottom: -154px;
  .pseudo-masonry {
    position: relative;
    top: -154px;
  }
}
@media screen and (max-width: 815px) {
  .gallery-block {
    max-width: 100%;
    img {
      max-width: 100%;
    }
  }
}
@media screen and (max-width: 768px) {
  .profile {
    #page-header {
      padding-bottom: 310px;
    }
  }
  .pseudo-masonry-parent {
    margin-bottom: 0px;
    .pseudo-masonry {
      position: relative;
      top: 0px;
    }
  }
}
@media screen and (max-width: 375px) {
  .gallery-nav li a {
    width: 80px;
  }
}
