/*
STYLES START
*/

$color-bg: #ccc;
$color-grey: #999;
$color-white: #fff;
$color-footer: #333;
$color-title: #3c4858;

body {
  background: $color-bg;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: $color-grey;
}

a {
  text-decoration: none;
  color: $color-grey;
  &:hover {
    text-decoration: none;
  }
}
.btn {
  cursor: pointer;
  border-radius: 3px;
  border: none;
  &:focus {
    outline: none;
  }
}
.menu-item:last-child {
  margin-right: 0;
}

/*
BG ICONS
*/
$icon-size: 20px;

.bg-icon {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
}
.toggle-icon {
  background-image: url("img/menu.png");
  width: 22px;
  height: $icon-size;
}
.download-icon {
  background-image: url("img/download.png");
  width: $icon-size;
  height: $icon-size;
}
.twitter-icon {
  background-image: url("img/twitter.png");
  width: $icon-size;
  height: $icon-size;
}
.facebook-icon {
  background-image: url("img/facebook.png");
  width: $icon-size;
  height: $icon-size;
}
.insta-icon {
  background-image: url("img/instagram.png");
  width: $icon-size;
  height: $icon-size;
}

/*
HEADER
*/
$header-padding-size: 24px;

.mobile-menu {
  display: none;
}

#page-header {
  background-image: url("img/header-bg.png");
  background-position: 50%;
  background-size: cover;
  padding-top: 63px - $header-padding-size;
  padding-bottom: 211px;
}
.header-nav {
  max-width: 1128px + ($header-padding-size * 2);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: $header-padding-size;
  margin: 0 auto;
}
.logo {
  a {
    font-size: 1.125em;
    color: $color-white;
    font-weight: 300;
  }
}

.header-links {
  display: flex;
  align-items: center;
  .menu-item {
    color: $color-white;
    margin-right: 24px;
    font-size: 0.75em;
    text-transform: uppercase;
    line-height: 1.313em;
    &:hover {
      text-decoration: underline;
    }
  }
  .menu-item.download:before {
    content: url("img/download.png");
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}
.header-content {
  max-width: 1300px - ($header-padding-size * 2);
  padding-left: $header-padding-size;
  padding-right: $header-padding-size;
  margin: 124px - $header-padding-size auto 0;
  color: $color-white;
  &-box {
    max-width: 549px;
  }
  h1.page-title {
    font-size: 3.313em;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .page-slogan {
    font-size: 1.125em;
    line-height: 1.313em;
  }
  .header-btn {
    background: #f44336;
    box-shadow: 0px 2px 2px rgba(244, 67, 54, 0.14);
    color: $color-white;
    text-transform: uppercase;
    padding: 20px 34px 20px 54px;
    background-image: url("img/play.png");
    background-repeat: no-repeat;
    background-position: 34px center;
    &:hover {
      background-color: #e6382c;
    }
  }
}

/* 
TABLET
HEADER
*/
@media screen and (max-width: 768px) {
  #page-header {
    padding-top: 0;
    padding-bottom: 121px;
  }
  .header-nav {
    background: rgba(0, 0, 0, 0.4);
  }
  .header-content-box {
    max-width: 100%;
  }
}

/* 
MOBILE
HEADER
*/
@media screen and (max-width: 578px) {
  .mobile-menu {
    display: block;
  }
  .header-links {
    display: none;
  }
}

/*
PAGE CONTENT
*/
$content-padding-x: 132px;
$content-margin-x: 10px;
#page-content {
  max-width: 1380px + ($content-margin-x * 2);
  margin: 0 auto;
  position: relative;
  top: -50px;
  .container {
    background: $color-white;
    margin: 0 $content-margin-x;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2),
      0px 2px 24px rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    padding: 95px $content-padding-x 80px;
  }
}

/*
TABLET
PAGE CONTENT
*/

/*
MOBILE
PAGE CONTENT
*/

/*
FOOTER
*/
$footer-padding-x: 40px;
#page-footer {
  max-width: 1122px + ($footer-padding-x * 2);
  margin: 0 auto;
  min-height: 65px;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: $footer-padding-x;
    padding-left: $footer-padding-x;
  }
}
.footer-links {
  .menu-item {
    color: $color-footer;
    text-transform: uppercase;
    margin-right: 33px;
    font-size: 0.7em;
    font-weight: 500;
  }
}
.copyright {
  font-size: 0.87em;
  color: $color-footer;
}

/*
TABLET
FOOTER
*/
@media screen and (max-width: 768px) {
  #page-footer {
    min-height: 85px;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
  .copyright {
    width: 100%;
    text-align: center;
  }
}

/*
TABLET
FOOTER
*/
@media screen and (max-width: 478px) {
  #page-footer {
    min-height: 80px;
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }
    .menu-item {
      margin-right: 25px;
    }
  }
}
